Bank.Business/Bank.Business.Components/Service References/NotifyService/VideoStore.Business.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VideoStore.Business.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VideoStore.Business.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TransferOutcome">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Outcome" type="tns:TransferOutcome.OperationOutcomeResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransferOutcome" nillable="true" type="tns:TransferOutcome" />
  <xs:simpleType name="TransferOutcome.OperationOutcomeResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Successful" />
      <xs:enumeration value="Failure" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransferOutcome.OperationOutcomeResult" nillable="true" type="tns:TransferOutcome.OperationOutcomeResult" />
</xs:schema>