Bank.Business/Bank.Business.Components/Service References/BankNotificationService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/VideoStore.Services.Interfaces" />
  <xs:element name="NotifyOperationOutcome">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrderId" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VideoStore.Services.Interfaces" minOccurs="0" name="Status" type="q2:DeliveryInfoStatus" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>